---
---

// Define defaults for each variable.
$text-color:       #E2D8D8;
$background-color: #1F1B18;
$brand-color:      #DAC141;

// Not so grey really but oh well
$grey-color:       #d6d2ba;

@import "minima";

.site-title {
     // Make it a big bigger
    @include relative-font-size(2);

    // Change the color from dark grey to grey 
    &,
    &:visited {
      color: $grey-color;
    }
  }

.footer-col p {
    font-style: italic;
}
